/* Page */
.referral-detail-container {
  background-color: #f5f7ff;
  min-height: 100vh;
  padding: 40px;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}


.navbar {
  background-color: #ffffff;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #4f46e5;
  font-size: 24px;
  font-weight: 700;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link-home {
  text-decoration: none;
  color: #4f46e5;
  font-size: 16px;
}

.logout-btn {
  background-color:#f10606;
  border: 1px solid #ef4444;
  color: #f8f3f3;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

/* Back link */
.back-link {
  text-decoration: none;
  color: #6366f1;
  font-size: 14px;
  margin-bottom: 20px;
  display: inline-block;
}


.referral-detail-container h1 {
  color: #1e293b;
  margin-bottom: 8px;
  justify-content: center;
}

.referral-detail-container > p {
  color: #64748b;
  margin-bottom: 30px;
}


.referral-card {
  background-color: #ffffff;
  width: 450px;
  border-radius: 18px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  margin-bottom:30px;
}


.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.card-header h2 {
  color: #1e293b;
  font-size: 28px;
  margin: 0;
}

.card-header span {
  background-color: #eef2ff;
  color: #6366f1;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}


.card-row {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  border-top: 1px solid #e2e8f0;
}

.card-row p:first-child {
  color: #94a3b8;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-row p:last-child {
  color: #1e293b;
  font-size: 15px;
  font-weight: 600;
}
.back{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}


@media screen and (max-width: 576px) {
  .referral-detail-container {
    padding: 20px;
  }

  .referral-card {
    width: 100%;
    margin-bottom:30px;
  }

  .navbar {
    padding: 16px 20px;
  }

  .card-row {
    flex-direction: column;
    gap: 8px;
  }
}