.main-con {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dee4f0;
}

.inp-con {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.lab {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
}

.inp {
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  outline: none;
}

.but {
  margin-top: 10px;
  height: 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.ep {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}